In [20]:
from tfidf import top10 as top
from tfidf import find_ids as ids
import tfidf
import os
import numpy as np

In [13]:
a = np.array([1,2,3,4])
a = np.mat(a)
b = np.array([[2,4,5,6],[1,2,3,4]])
b = np.mat(b)

In [19]:
tfidf.similarity(a, b, 'cos')

array([0.99401501, 1.        ])

In [21]:
def get_files(path):
    file_list = os.listdir(path)
    files = []
    for file in file_list:
        if 'total' in file:
            file_list.remove(file)
            continue
        with open(path + '\\' + file, 'r') as data: 
            files.append(data.read())
    return file_list, files

In [22]:
# case num 64440, 64890
# path = os.path.join('cc', '64890.txt')
# file = open(path, 'r')

listd, file = get_files('sample')

print(type(file))

<class 'list'>

In [23]:
test_val = top(file[0], file[1], '손해배상(의)', 'cos')

start
db loop start
db loop finish
summary finish
db loop start
db loop finish
judgement finish
db loop start
db loop finish
content finish

TypeError: find_indexes() missing 1 required positional argument: 'key_weight'

In [6]:
test_val

array([ 84885,  85537, 203976, 192376,  82289, 193332, 210767,  83345,
       210335,  85278])

In [15]:
def db_cursor():
    host = "ict.cor8kkyfcogd.ap-northeast-2.rds.amazonaws.com"
    port = 3306
    username = "admin"
    database = "ict"
    password = "48834883"

    try:
        conn = pms.connect(host=host,user=username,password=password,db=database, port=port, use_unicode=True, charset="utf8")
        cursor=conn.cursor()
    except:
        print("연결 실패")
        return

    return cursor

In [7]:
ids_arr = tfidf.find_ids('손해배상(의)')

In [10]:
ids_arr

[64738,
 67136,
 67320,
 67738,
 67860,
 68157,
 68220,
 68536,
 68738,
 68773,
 69070,
 69206,
 69373,
 69446,
 79828,
 80438,
 80558,
 81309,
 81373,
 81564,
 81658,
 81882,
 82200,
 82289,
 82932,
 83052,
 83250,
 83345,
 83527,
 83701,
 83810,
 84424,
 84557,
 84821,
 84885,
 85076,
 85278,
 85310,
 85537,
 85612,
 126270,
 127012,
 133424,
 133924,
 138265,
 139607,
 140247,
 142105,
 142407,
 142827,
 143120,
 143671,
 144231,
 144515,
 145345,
 146169,
 146664,
 146747,
 147462,
 149172,
 149526,
 157643,
 157935,
 159469,
 159897,
 160699,
 162510,
 163149,
 165559,
 166360,
 167251,
 167290,
 168343,
 170775,
 170876,
 171822,
 171940,
 172046,
 172232,
 172956,
 173934,
 174112,
 176253,
 177426,
 177605,
 177679,
 178071,
 179029,
 179059,
 179791,
 179843,
 182331,
 182380,
 183250,
 184031,
 184373,
 185115,
 185557,
 186636,
 187237,
 187836,
 190657,
 190732,
 191222,
 191335,
 191488,
 191507,
 191721,
 192376,
 192451,
 193332,
 193877,
 194376,
 194408,
 194558,
 194663,
 194698,
 195461,
 199747,
 203976,
 204219,
 204566,
 205791,
 206330,
 208744,
 209160,
 210335,
 210767]

In [25]:
c = tfidf.db_cursor()
a = tfidf.db_cursor()
b = tfidf.db_cursor()

In [14]:
import pymysql as pms

In [29]:
sql_test = 'select keyindex from Summary where Precedent_ID=64890 order by keyindex asc'
c.execute(sql_test)

38

In [30]:
cd = c.fetchall()
print(cd)

((306,), (310,), (313,), (510,), (714,), (776,), (929,), (959,), (1043,), (1047,), (1304,), (1412,), (1457,), (1608,), (1734,), (1780,), (2108,), (2109,), (2272,), (2393,), (2675,), (2696,), (2752,), (3318,), (3746,), (3748,), (3793,), (3808,), (3911,), (3922,), (4258,), (4430,), (4612,), (4618,), (4623,), (4892,), (5105,), (5548,))

In [1]:
import tfidf

In [3]:
model = tfidf.load('tfidf_model.pk')

D:\DProjects\main\venv\lib\site-packages\sklearn\base.py:329: UserWarning: Trying to unpickle estimator TfidfTransformer from version 0.23.1 when using version 0.23.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
D:\DProjects\main\venv\lib\site-packages\sklearn\base.py:329: UserWarning: Trying to unpickle estimator TfidfVectorizer from version 0.23.1 when using version 0.23.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(

In [8]:
arr = tfidf.do(model, ['thisissample'])

In [17]:
arr[0]

array([0., 0., 0., ..., 0., 0., 0.])

In [18]:
print(len(arr[0]))
print(type(arr[0][0]))

154806
<class 'numpy.float64'>