In [8]:
!pip install PyMySQL

Collecting PyMySQL
  Using cached PyMySQL-0.10.0-py2.py3-none-any.whl (47 kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-0.10.0

In [10]:
import pymysql as pms

In [25]:
# 1. DB 연결
conn = pms.connect(host="192.168.0.15", port=3306, user="ict", password="48834883", db="ict", charset="utf8")

In [26]:
# 2. 커서 생성 (트럭, 연결로프)
cur = conn.cursor()
sql = "CREATE TABLE IF NOT EXISTS userTable2(userId INT, userName CHAR(5))"
cur.execute(sql)

sql = "INSERT INTO userTable2 VALUES( 1 , '홍길동')";
cur.execute(sql)
sql = "INSERT INTO userTable2 VALUES( 2 , '이순신')";
cur.execute(sql)

cur.close()
conn.commit()
conn.close() # 6. DB 닫기 (=연결 해제)
print('OK~')

위에거 참조 사이트
https://d33p.tistory.com/73